body{
	margin:0;
	padding:0;
	font-family:sans-serif;
}

/*Global*/
ul{
	padding:0;
	list-style:none;
}

a{
	text-decoration:none;
}

.container{
	margin:auto;
	width:80%;
}

/*Others*/
header{
	width:100%;
	min-height:60px;
}

header h1{
	float:left;
	margin:0;
	padding-top:10px;
}

header nav{
	float:right;
}

.main-nav li{
	display:inline;
	padding-right:2px;
}

.main-nav a{
	padding-right:6px;
	text-transform:uppercase;
	color:#262626;
}

.main-nav .active{
	color:orange;
}

span{
	color:orange;
}

.showcase{
	background:url('images/photo2.jpeg');
	background-position:cover;
	background-repeat:no-repeat;
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

}

.showcase-content{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.showcase h1{
	font-size:3.5rem;
	color:#fff;
	letter-spacing:1.5rem;
	text-transform:uppercase;
	margin-bottom:0;
}

.showcase h3{
	color:#fff;
}

.social-link h1{
	text-align:center;
	padding:100px 0;
}

.about{
	text-align:center;
	background:#262626;
	color:#fff;
	padding:50px 0;
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.about .content{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.about h1{
	text-transform:uppercase;
}

.about p{
	padding-top:30px;
	line-height:2rem;
	font-size:1.1rem
}

.form input,select{
	width:150px;
	height:50px;
	outline:none;
	border:2px solid #262626;
	margin:50px 10px 50px 0;
}

.form select{
	border-bottom-left-radius:10px;
	border-top-left-radius:5px;
}

.form-content h1{
	text-align:center;
	background-color:#262626;
	color:#fff;
	text-align:center;
}

.check{
	text-align:center;
}

.form input[type="submit"]{
	border:none;
	margin-left:250px;
	padding:0 50px 0 50px;
	text-align:center;
	color:#fff;
	background-color:blue;
}

.form input[type="submit"]:hover{
	background:#262626;
}
.img-boxes{
	background-color:blue;
	
	min-height:100vh;
	margin-top:100px;
	display:grid;
	grid-gap:30px;
	grid-template-columns:repeat(auto-fit,minmax(300px,2fr));
}

.img-box{
	background-color:orange;
	max-height:300px;
	
}

.img-box1 img{
	background-repeat:no-repeat;
	overflow:hidden;
	max-width:100%;
}

.container2{
	min-height:500px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;	
}

.container2 .box2{
	position:relative;
	width:300px;
	margin:20px;
	box-sizing:border-box;
	display:inline-block;
}

.container2 .box2 .imgBox{
	position:relative;
}

.container2 .box2 .imgBox img{
	max-width:100%;
}

.images p{
	padding-top:100px;
	text-align:center;
	text-transform:uppercase;
}

.article{
	text-align:center;
	padding:100px 0 50px;
}

footer{
	background:#262626;
	color:#fff;
	padding:40px 0;
	margin-top:50px;
	text-align:center;
}

@media(max-width:768px){
	.main-nav{
		display:none
	}
}